.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.app-header .app-header__content .header-menu .nav-link {
    color: #6c757d;
}
.nav-item .nav-link {
    font-weight: 400;
}
.nav-link .nav-link-icon {
    color: #3f6ad8;
    font-size: 1rem;
    width: 30px;
    text-align: center;
    opacity: .45;
    margin-left: -10px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.dropleft {
    position: relative;
}